/* General */
button.main-btn {
  background-color: #b3cfc3 !important;
  font-weight: bold !important;
  color: white !important;
}

button.main-btn:hover {
  background-color: #ddcbb9 !important;
  color: #404040 !important;
}

/* Header */
nav.navbar {
  background-color: #fff6fb;
}

.nav-link {
  color: #404040;
  font-weight: 500;
}

/* Index */
#signup a,
#login a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.d-grid {
  margin-top: 2rem;
}

#disclaimer-text {
  font-weight: bold;
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

#index-container {
  margin-top: 1em;
}

.index-categories {
  font-size: 1.1em;
  font-weight: bold;
}

/* Risk Profile */
#risk-profile-explain {
  margin: 2rem 0;
  text-align: left;
}

h2#what-risk {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#quote {
  font-weight: bold;
  font-style: italic;
}

#risk-quote {
  margin-top: 3rem;
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
}

cite {
  font-weight: bold;
}

#current-profile {
  font-size: 2rem;
}

/* Dashboard */
h1 {
  margin-bottom: 1em;
}

#portfolio-table {
  padding-right: 2rem;
}

#recommendation {
  padding-left: 2rem;
}

h2#total-estate {
  margin-bottom: 2rem;
  text-align: start;
  padding-left: 1em;
}

#table-current th,
#table-current td,
#table-reco th,
#table-reco td {
  width: 25% !important;
}

#table-reco {
  margin-top: 2rem;
}

/* Add Entry */
.entry-label {
  font-weight: bold;
}

button#add-invest {
  font-weight: bold;
}

a#go-invest {
  text-decoration: none;
  color: white;
}

a#go-invest:hover {
  color: #404040;
}
