{% extends "layout.html" %} {% block title %} Dashboard {% endblock %} {% block
main %}
<h1>Your Portfolio Summary</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Category</th>
            <th>Sub-category</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for category, details in portfolio_summary.items() %}
          <tr>
            <td colspan="3" class="text-start">
              <strong>{{ category }}</strong>
            </td>
          </tr>
          {% for sub_category, sub_total in details.sub_categories.items() %}
          <tr>
            <td></td>
            <!-- Empty cell to indent sub-category -->
            <td>{{ sub_category }}</td>
            <td>{{ sub_total | usd }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2" class="text-end">
              <strong>Total for {{ category }}</strong>
            </td>
            <td><strong>{{ details.total_amount | usd }}</strong></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>
{% endblock %}
