{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
main %}
<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
      <h1>Welcome to the Investment Advisor Tool!</h1>
      <div id="disclaimer">
        <p>
          <span>Disclaimer:</span> This tool is a guide, not the sole source for making financial decisions. Financial markets are dynamic, and past asset performance doesn’t guarantee future results. It assumes you already have your income, insurance, and a debt-free financial foundation, so you're only investing "extra" money.
        </p>
      </div>
      <h2>What makes this app special?</h2>
      <p>
        The tool provides a clear overview of your portfolio. Whether you're a beginner or an experienced investor, it helps you visualize how your investments are distributed across different categories—without needing to check multiple accounts or apps. By regularly inputting your data, you can quickly assess if your portfolio aligns with your risk profile and make informed adjustments. The recommendation algorithm will guide you in making these decisions.
      </p>
      <h2>How it works:</h2>
      <p>
        <ol>
          <li>Sign up or log in.</li>
          <li>Define your risk profile (default is 'medium').</li>
          <li>Enter your investments by category and sub-category (e.g., Stocks > AMZN > $12,000).</li>
          <li>View your portfolio on the dashboard as a table or graph, with personalized recommendations.</li>
          <li>Regularly update your portfolio to maintain balance.</li>
        </ol>
      </p>
      <h2>How are the categories defined?</h2>
      <p>
        The app follows a Maslow-inspired pyramid for financial investments:
      </p>
      <ul>
        <li><span>Savings:</span> The base layer, focusing on securing liquidity for unexpected events.</li>
        <li><span>Real Estate:</span> Once savings are secured, invest in property to build wealth.</li>
        <li><span>Stock Market:</span> With security in place, invest in higher-risk, higher-reward assets like stocks or cryptocurrencies.</li>
        <li><span>Exotic Investments (optional):</span> For high-risk, pleasure-related investments (e.g., wine, cars, watches). This tool currently focuses on the first three categories.</li>
      </ul>
      <h3>Sign up now and start visualizing your financial future!</h3>
      <button id="signup">Sign Up</button>
      <button id="signin">Sign In</button>
    <div class="col-md-6"></div>
  </div>
</div>
{% endblock %}
