{% extends "layout.html" %} {% block title %} Change Password {% endblock %} {%
block main %}
<form action="/change-password" method="post">
  <div class="mb-3">
    <label for="current-password">Current Password</label>
    <input
      type="password"
      id="current-password"
      name="current-password"
      class="form-control mx-auto w-auto"
      placeholder="Current Password"
      autocomplete="current-password"
      required
    />
  </div>
  <div class="mb-3">
    <label for="new-password">New Password</label>
    <input
      type="password"
      id="new-password"
      name="new-password"
      class="form-control mx-auto w-auto"
      placeholder="New Password"
      autocomplete="new-password"
      required
    />
  </div>
  <div class="mb-3">
    <label for="confirm-new-password">Confirm New Password</label>
    <input
      type="password"
      id="confirmation"
      name="confirmation"
      class="form-control mx-auto w-auto"
      placeholder="Confirm New Password"
      autocomplete="new-password"
      required
    />
  </div>
  <button class="btn btn-primary" type="submit">Update Password</button>
</form>
{% endblock %}
