{% extends "layout.html" %} {% block title %} Update Portfolio {% endblock %} {%
block main %}
<h1>Withdraw Investments</h1>
<form method="POST" id="withdraw-form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mb-5 input-group-lg text-start">
      <label for="category-name" class="entry-label form-label">CATEGORY</label>
      <select
        class="form-select"
        name="category-name"
        id="category-name"
        required
        style="min-width: 300px"
      >
        <option value="" disabled selected>Select a category</option>
        {% for category in withdraw_categories %} {% if entry.balance > 0 %}
        <option value="{{ entry.category }}">{{ entry.category }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>

    <div class="mb-5 input-group-lg text-start">
      <label for="sub-category" class="entry-label form-label">ACCOUNT</label>
      <select
        class="form-select"
        name="sub-category"
        id="sub-category"
        required
        style="min-width: 300px"
      >
        <option value="" disabled selected>Select an account</option>
        {% for entry in withdraw_categories %} {% if entry.balance > 0 %}
        <option
          value="{{ entry.sub_category }}"
          data-category="{{ entry.category }}"
        >
          {{ entry.sub_category }} (Balance: {{ entry.balance | usd }})
        </option>
        {% endif %} {% endfor %}
      </select>
    </div>

    <div class="mb-5 input-group-lg text-start">
      <label for="amount" class="entry-label form-label">AMOUNT</label>
      <input
        type="text"
        name="amount"
        id="amount"
        required
        placeholder="Enter amount"
        class="form-control"
        style="min-width: 300px"
      />
    </div>
  </div>

  <button
    id="withdraw-invest"
    type="submit"
    class="btn btn-lg main-btn"
    style="width: 300px"
  >
    Withdraw
  </button>
</form>

<script>
  document
    .getElementById('category-name')
    .addEventListener('change', function () {
      const selectedCategory = this.value;
      const subCategorySelect = document.getElementById('sub-category');
      const options = subCategorySelect.querySelectorAll('option');

      options.forEach((option) => {
        const category = option.getAttribute('data-category');
        if (category === selectedCategory) {
          option.style.display = 'block';
        } else {
          option.style.display = 'none';
        }
      });

      subCategorySelect.value = ''; // Reset sub-category selection
    });
</script>
{% endblock %}
