{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
main %}
<div class="container-fluid" id="index-container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-between text-start">
      <h1>Bienvenue sur help invest!</h1>
      <div id="disclaimer" class="alert alert-dark">
        <p>
          <span id="disclaimer-text">Avertissement</span>  Cet outil sert de guide virtuel dans la gestion de son portefeuille, il ne représente par l’unique source pour prendre des décisions financières. Les marchés financiers sont dynamiques, et les performances passées des actifs ne garantissent pas les résultats futurs.
        </p>
      </div>
      <h2>Qu'est-ce qu'help invest ?</h2>
      <p>
        L'outil fournit une vue claire de votre portefeuille. Que vous soyez un débutant ou un investisseur expérimenté, il vous aide à visualiser comment vos investissements sont répartis dans différentes catégories—sans avoir à vérifier plusieurs comptes ou applications. En saisissant régulièrement vos données, vous pouvez rapidement évaluer si votre portefeuille correspond à votre profil de risque et prendre des décisions éclairées. L'algorithme de recommandations vous guidera dans ces décisions.
      </p>
      <h2>Comment ça marche :</h2>
      <p>
        <ol>
          <li><a href="{{ url_for('signup') }}">S'inscrire</a> or <a href="{{ url_for('login') }}">Se connecter</a></li>
          <li>Définissez votre profil de risque (par défaut, il est « moyen »).</li>
          <li>Entrez vos investissements par catégorie et sous-catégorie (par exemple, Actions > AMZN > 12 000 €).</li>
          <li>Visualisez votre portefeuille sur le tableau de bord sous forme de tableau ou de graphique, avec des recommandations personnalisées.</li>
          <li>Mettez régulièrement à jour votre portefeuille pour maintenir l'équilibre.</li>
        </ol>
      </p>
      <h2>Comment les catégories sont-elles définies ?</h2>
      <p>
        L'application suit une pyramide inspirée de Maslow pour les investissements financiers :
      </p>
      <ul>
        <li><span class="index-categories">Épargne :</span> Sous forme d' espèces, de livrets ou d'assurance-vie permettant de sécuriser de la liquidité pour faire face à des événements imprévus.</li>
        <li><span class="index-categories">Immobilier :</span> Une fois l'épargne sécurisée, investissez dans l'immobilier pour créer de la richesse.</li>
        <li><span class="index-categories">Actions :</span> Investissez dans des actifs à risque plus élevé et à potentiel de rendement plus important, comme les actions ou les crypto-monnaies.</li>
        <li><span class="index-categories">Autres :</span> Pour les investissements plus rares tels que le Private Equity, la détention d’or physique (hors réplication d’indice) ou les placements dits “exotiques”.</li>
      </ul>
      <h3>Inscrivez-vous maintenant et commencez à visualiser votre avenir financier !</h3>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-between">
      <img src="/static/pyramid.png" alt="Image of Maslow's pyramid applied to Finance" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}
